/models
/wandb
/data/chunked_audio
/data/mel_spectrograms
/.ipynb_checkpoints
/source/__pycache__
__pycache__/
/chunked_audio
/raw_samples
/azure_test
/.DS_Store
/raw_data
/output/models/*.pt
/output/samples/*.wav
model.pt
sample.wav
sample0.wav
best_model.pt
source/config.py
test.ipynb
sample*
output/models/best_model.ckpt
data/speech_data/speech1_1.wav
lightning_logs/version_1/hparams.yaml
official_diffwave_speech_10ksteps_6samples_batchsize6.wav

ljspeech/*
ljspeech_16k/*
ljspeech_44k/*