/models
/wandb
/data/chunked_audio
/data/mel_spectrograms
/.ipynb_checkpoints
/source/__pycache__
__pycache__/
/chunked_audio
/raw_samples
/azure_test
/.DS_Store
/raw_data
/output/models/*.pt
/output/samples/*.wav
model.pt
sample.wav
sample0.wav
best_model.pt
source/config.py
test.ipynb
sample*
output/models/best_model.ckpt
